html, body {  font-family: 'Open Sans', sans-serif !important;}

/*******************************************/

.jumbotron {
	background: no-repeat center right fixed; /* url(images/background.jpg) */
	/*background-image: url(images/tower_scope_animation.gif); */
	
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
/*	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale')";
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale');	*/
	
	margin-bottom: 0px;
	padding: 0px;
}  

.jumbotron .overlay { background-color: #17B1D2; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; opacity: 0.5; filter:alpha(opacity=50); z-index: 2; }

.jumbotron .container { position: relative; top: 28%; z-index: 4; text-align: center; }
.jumbotron .container > * { text-align: center; color: #FFFFFF; }
.jumbotron .container h1 { padding-bottom: 20px; border-bottom: 1px solid #FFFFFF; border-bottom-color: rgba(255,255,255,0.35); display: inline-block; }
.jumbotron .container .lead { font-size: 28px; }

.menu_down{
	position: absolute;
	/*bottom:0;*/
	right: 0;
	z-index: 16;
	margin: 0 auto;
	width: 100%;
    webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
    transition: all 1.3s;
}
.menu_upp{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	background-color: #17B1D2;
	z-index: 6;
	-webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
    transition: all 1.3s;
}
.menu_item{
	-webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
    transition: all 1.3s;

}
.menu_item > a > i {
	font-size: 40px;
	color: white;	
	opacity: 1;
	/*-webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
    transition: all 1.3s;*/	
}
.page{ 	
	background: no-repeat center right fixed;

	
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom: 0px;
	padding: 0px;
	
	/*-webkit-box-shadow: inset 0px 5px 5px 3px rgba(0,0,0,0.68);
	-moz-box-shadow: inset 0px 5px 5px 3px rgba(0,0,0,0.68);
	box-shadow: inset 0px 5px 5px 3px rgba(0,0,0,0.68);*/
}

/*************************************************************/


.navbar {
	margin-bottom: 0;
}

.nav>li>a {
position: relative;
display: block;
padding: 5px;
}
.navbar .nav > li a span,
.navbar .nav > li a span { 
	font-size: 1.5em;
	font-weight: 200;
	padding: 10px;
	-webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
    transition: all 1.3s;
}
.navbar .nav > li a:hover
.navbar .nav > li a:focus { 
	font-size: 1.2em;	
	-webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
    transition: all 1.3s;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;

}
.navbar-toggle .icon-bar,
.navbar-toggle .icon-bar { background: white; }
.navbar-toggle:hover .icon-bar,
.navbar-toggle:focus .icon-bar { background: #222222; }


.item{
	color: white;
	vertical-align: super;
}
paper-ripple {
  color: #17B1D2;
}