<link rel="import" href="../js/libraries/components/polymer/polymer.html">


<polymer-element name="page-projects">
<link href="common.css" rel="stylesheet"/>
<template>

    <style>

      core-animated-pages {
        display: block;
        
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }

      section {
        text-align: center;
        
      }

      .square {
        display: inline-block;
        margin: 8px;
        padding: 8px;
        width: 200px;
        height: 200px;
        background-color: orange;
        color: #fff;
      }
    </style>
    <div class="container">
    	<div class="row">
    <core-animated-pages transition="hero-transition">
  <section layout horizontal>
    <div id="div1" flex hero-id="shared" hero?="{{selected == 0}}"></div>
    <div id="div2" flex hero-id="shared" hero?="{{selected == 1}}"></div>
  </section>
  <section>
  <section layout horizontal>
    <div id="div3" flex hero-id="shared" hero></div>
  </section>
  </section>
</core-animated-pages>
</div>
</div>
  </template>
 <script>

    Polymer('page-projects', {

    });
</script>
</polymer-element>