<link rel="import" href="../js/libraries/polymer/polymer.html">

<polymer-element name="page-freetime">
    <template>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link href="common.css" rel="stylesheet"/>
        <style> 
        </style>
        <div id="freetime-page">
            <div class="container">
                <div class="row ">
                    <div class="col-md-8"><h1>Freetime</h1></div>
                    <div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Exercitationem veniam et odit temporibus cum repellendus minus ut at odio soluta perferendis quod ratione dicta magni obcaecati quam nulla beatae perspiciatis!
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Exercitationem veniam et odit temporibus cum repellendus minus ut at odio soluta perferendis quod ratione dicta magni obcaecati quam nulla beatae perspiciatis!
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
    Polymer('page-freetime', {
    });
    </script>
</polymer-element>