<link rel="import" href="../js/libraries/components/polymer/polymer.html">

<link rel="import" href="../js/libraries/components/paper-shadow/paper-shadow.html">
<link rel="import" href="../js/libraries/components/rating-element/rating-element.html">

<polymer-element name="page-skills">
	<template>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link href="../css/ionicons.css" rel="stylesheet" />
		<link href="common.css" rel="stylesheet"/>
		<style> 
		.skill{
			padding: 5px;
			margin-bottom: 6px;
		}
		.skill:hover{
			background-color: rgba(23, 117, 210, 0.3);
		}
		.starts{
			float: right;
			padding-right: 20px;
		}
		</style>
		<div id="skills-page" class="page_item">
			<div class="container">
				<div class="row quote">
					<div class="col-md-3">
						<div class="title">ABILITIES</div>
					</div>
					<div class="col-md-9 element">
						<span>{{quote.text}}</span><p>{{quote.author}}</p>
						<paper-ripple fit></paper-ripple>
						<paper-shadow animated='true' class="paper-shadow-bottom-z-5" z="1"></paper-shadow>
					</div>
				</div>
				<div class="row element">
					<div class="col-md-12">
						<div class="section_title">Skills</div>
					</div>
					<template repeat="{{skill in skills}}">
						<div class="col-md-6 skill">
							{{skill.skill}}    
							<star-rating class="starts" votes="1" votessum="{{skill.level}}" starcount="5" readyonly="true"></star-rating>
						</div>        
					</template>    
					<paper-shadow animated='true' class="paper-shadow-bottom-z-5" z="1"></paper-shadow>
				</div>
				<div class="row element">
					<div class="col-md-12">
						<div class="section_title">Languages</div>
					</div>
					<template repeat="{{language in languages}}">
						<div class="col-md-6 skill">
							{{language.language}} ( {{language.usage}})   
							<star-rating class="starts" votes="1" votessum="{{language.level}}" starcount="5" readyonly="true"></star-rating>
						</div>        
					</template>    
					<paper-shadow animated='true' class="paper-shadow-bottom-z-5" z="1"></paper-shadow>
				</div>
				<div class="row element">
					<div class="col-md-12">
						<div class="section_title">Tools</div>
					</div>
					<template repeat="{{tool in tools}}">
						<div class="col-md-6 skill">
							{{tool.tool}}    
							<star-rating class="starts" votes="1" votessum="{{tool.level}}" starcount="5" readyonly="true"></star-rating>	
						</div>        
					</template>    
					<paper-shadow animated='true' class="paper-shadow-bottom-z-5" z="1"></paper-shadow>		
				</div>
			</div>
			<paper-shadow animated='true' class="paper-shadow-bottom-z-5" z="1"></paper-shadow>
		</div>
	</template>
	<script>
	Polymer('page-skills', {
		ready: function(){
			this.languages = data.languages;
			this.skills = mySort(data.skills); 
			this.tools = data.tools;  
			this.quote = data.quotes.skills;    
		}
	});
	</script>
</polymer-element>